doctype html
html(lang="en")
  head
    title #{pageTitle}
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/assets/css/404.css")
  body
    h1 404 - Page Not Found
    p Sorry, the page you are looking for does not exist.
    a(href="/") Go back to the homepage