extends layouts/main-layout.pug

block content
    main
        header
            h1 Add a New Product
        main
            form(action='/admin/add-product', method='POST')
                div
                    label(for='title') Title
                    input(type='text', id='title', name='title', required)
                div
                    label(for='price') Price
                    input(type='number', id='price', name='price', required)
                div
                    label(for='description') Description
                    textarea(id='description', name='description', required)
                div
                    button(type='submit') Add Product